{% extends "base.html.twig" %}

{% block body %}
    
    <form action="" method="post">
    <input type="text" name="prenom" placeholder="prenom">
    <button type="submit">Valider</button>


    </form>
{% endblock %}