{% extends "base.html.twig" %}


{% block body %}
    <h1>Hello World</h1>

    <h3>Hello {{ prenom }} !!!</h3>

    <h4>Votre email: {{email}} </h4>
    <h4>Votre message: {{message}} </h4>
    


{% endblock %}